<div *ngIf="teamId">
  <ul class="list-group col-xs-6">
    <input type="text" name="filtroJugador" placeholder="...." [(ngModel)]="filtroJugador">
    <li *ngFor="let jugador of filtraJugadores() | filtroJugador:filtroJugador " (click)="seleccionarJugador(jugador.player_id)" class="list-group-item list-group-item-action" [ngClass]="{'active': jugadorId === jugador.player_id }">
      <a  >{{jugador.player_name}}</a>
    </li>
  </ul>
  <button class="btn btn-primary" (click)="anadirJugador()" >Añadir jugador</button>
  <button class="btn btn-danger" (click)="borraJugador()" [disabled]="!jugadorId">Borrar jugador</button>
  <button class="btn btn-warning" (click)="cerrarJugadores()" >Cerrar</button>
</div>
<app-nuevo-jugador *ngIf="abrirModal"></app-nuevo-jugador>
