
  <div *ngIf="teamId" class="container divJugadores">
    <input type="text" name="filtroJugador" placeholder="Introduzca el nombre de un jugador ...." [(ngModel)]="filtroJugador">
    <ul class="list-group col-xs-6">
      <li *ngFor="let jugador of filtraJugadores() | filtroJugador:filtroJugador " (click)="seleccionarJugador(jugador.player_id)" class="list-group-item list-group-item-action" [ngClass]="{'active': jugadorId === jugador.player_id }">
        <a  >{{jugador.player_name}}</a>
      </li>
    </ul>
    <button class="btn btn-primary" (click)="anadirJugador()" >Añadir jugador</button>
    <button class="btn btn-danger" (click)="borraJugador()" [disabled]="!jugadorId">Borrar jugador</button>
    <button class="btn btn-warning" (click)="cerrarJugadores()" >Cerrar</button>
  </div>
  <app-nuevo-jugador [jugadores]="jugadores" [abrirModal]="abrirModal" (objetoJugador)="jugadores=$event" (modalCierre)="abrirModal=$event" *ngIf="abrirModal" ></app-nuevo-jugador>
  <app-borrar-jugador [abrirModalBorrar]="abrirModalBorrar" (modalCierreBorrar)="borraJugador($event)" (modalCierreJugador)="abrirModalBorrar=$event" *ngIf="abrirModalBorrar"></app-borrar-jugador>


