<nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header col-xs-4">
                <img  class="navbar-brand img-thumbnail" 
                src="https://image.freepik.com/vector-gratis/diseno-ejemplo-icono-vector-plantilla-logotipo-infinito_6543-169.jpg"
                alt="no se encuentra">
        </div>
        <div class="collapse navbar-collapse " >
            <ul class="nav navbar-nav col-xs-8">
                <li class="col-xs-8"><h2 >Nombre de la liga</h2></li>
                <li  class="col-xs-4" ><h2 >Login</h2></li>
            </ul> 
        </div>
        
    </div>
</nav>



