<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand ">
                <img  class="navbar-brand img-icon" 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Flag_of_FIFA.svg/220px-Flag_of_FIFA.svg.png"width="60" height="60"
                alt="no se encuentra">
        </a>
       
        <div *ngIf="!comprobacion() " class="login">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link">
                   <img [src]="liga.logo" [alt]="liga.name" width="100" height="100">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >{{liga.name}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >Usuario : {{usuario}}</a>
              </li>
            </ul>
        </div>
       
   
</nav>



