.listaEquipos{
    display: flex;
    
}
.listaJugadores{
    width: 50%;
    margin-top: 3px;
}
h3{
    text-align: center;
}
@media (max-width: 1000px){
    .listaEquipos{
        display: flex;
        flex-wrap: wrap;
    }
    .listaJugadores{
        width: 100%;
        margin-top: 10px;
    }
}
