<div class="row">
  <input type="text" name="filterPost" placeholder="...." [(ngModel)]="filterPost">
</div>
<div id="equiposLiga" class="row">
  
  <ul class="list-group col-xs-">
   
    <li *ngFor="let equipo of listaEquipos | filtro:filterPost" class="list-group-item list-group-item-action" [ngClass]="{'active': teamId === equipo.team_id }">
     
      <div>
      <img [src]="equipo.logo">
      </div>
      <div class="nombreEquipo">
        <a  (click)="mostrarListaJug(equipo.team_id)" >{{equipo.name}}</a>
      </div>
      
    </li>
  </ul>
  <app-jugadores (borrarTeamId)="teamId=$event" [teamId]="teamId" ></app-jugadores>
</div>